<!doctype html>
<html lang="en" ng-app="FoundationDemoApp">
<head>
  <meta charset="UTF-8">
  <title>AngularUI Foundation</title>
  <link rel="stylesheet" type="text/css" href="../src/vendor/foundation/foundation.min.css">
  <link rel="stylesheet" type="text/css" href="assets/foundation-overrides.css">
	<link rel="stylesheet" type="text/css" href="../src/app/animations/animations.css">

  <script src="../src/vendor/modernizr/modernizr.js"></script>
  <script src="../src/vendor/jquery/jquery.min.js"></script>
  <script src="../src/vendor/angular/angular.min.js"></script>
  <script src="../src/vendor/angular-animate/angular-animate.min.js"></script>
  
  
  <script src="../src/app/foundation.js"></script>
  <script src="../src/app/animations/animations.js"></script>
  <script src="../src/app/alert/alert.js"></script>
  <script src="../src/app/reveal/reveal.js"></script>
  <script src="assets/app.js"></script>
</head>
<body>
  <div class="row">
    <div class="large-12 columns">

      <div ng-controller="MainCtrl">
        <h1>{{title}}</h1>
      </div>

      <div ng-controller="AlertDemoCtrl">
        <h2 class="subheader">Alerts</h2>
        <alert ng-repeat="alert in alerts" data-fadeoutspeed="500" type="alert.type" animation="fade-out">
          {{alert.message}}
        </alert>
      </div>

      <div ng-controller="RevealDemoCtrl">
        <h2 class="subheader">Reveal Modals</h2>
        <button class="button" ng-click="slideTopModal()">Modal sliding from top</button>
				<button class="button" ng-click="slideLeftModal()">Modal sliding from left!</button>
				<button class="button" ng-click="fadeInModal()">Modal fading in!</button>
        <reveal visible="slideTop" animation="slide-top">
          <h2>Angular Reveal Modal</h2>
          <p>Content inside the reveal modal!</p>
					<button class="button" ng-click="slideLeftModal()">Modal sliding from left!</button>
        </reveal>

				<reveal visible="slideLeft" animation="slide-left">
					<h2>Angular Reveal Modal2</h2>
					<p>Content inside the reveal modal2!</p>
				</reveal>

				<reveal visible="fadeIn" animation="fade-in">
					<h2>Angular Reveal Modal2</h2>
					<p>Content inside the reveal modal2!</p>
				</reveal>
      </div>
  </div>
</body>
</html>