.slide-in-animation.ng-hide-remove{
  transition: 2s linear all;
  -webkit-transition: 2s linear all;
  opacity: 0;
}

.slide-in-animation.ng-hide-remove.ng-hide-remove-active{
  transition: 2s linear all;
  -webkit-transition: 2s linear all;
  opacity: 1;
}